@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: contain;
    list-style: none;
    text-decoration: none;
}
body{
    scroll-behavior: smooth;
    font-family: Montserrat;
    
}
/* helper class */
.container{
    max-width: 1250px;
    margin-inline: auto;
    padding-inline: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(400px));
}
h1 , h2 , h3, h4{
color: black;
text-transform: capitalize;
/* text-align: center; */


}
nav{
    top: 10px;
    position: absolute;
    width: 100%;
    z-index: 9999;
    .logo{
        display: flex;
        padding: 0 15px ;
    }
    .logo pre{
        color: #2A90D9;
        font-size: 2rem;
        font-family: Yellowtail;

    }
    .logo :is(pre, span){
        margin-top: 6px;
    }
    .logo span{
        color: #EE685F ;
        font-size: 2rem;
          font-family: Yellowtail;
    }
    .menu-bar{
       margin-left: 20px;
    }
    .menu-bar li {
        padding: 21px 25px;
    }
    .menu-bar li a{
          cursor: pointer;
        text-transform: capitalize;
        color: gray;   
         transition: .4s all linear;
       


    }
     .menu-bar li:hover a{
        color: black;
        border-bottom: 2px solid black;
        padding-bottom: 4px;
        transition: .4s all linear;
        
     }
    .user-detail span{
        font-size: 2rem;
        color: #EE685F;
           padding: 15px 25px;

    }
}
.hero{
    height: 100vh;
     display: flex;
    
        
    .container{
        background: url(/project-hotel/public/src/img/Rectangle\ 5.png) no-repeat;

      filter: brightness(80%);
        background-position: center;
        width: 100%; 
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container h1{
        color: white;
        font-size: 3rem;
        filter: none;
       
    }
    .container p{
        color: rgb(29, 29, 29);
    }
}
form{
    position: absolute;
    top: 76vh;
    left: 32%;
    .container{
        padding: 10px 25px ;
        background-color: rgb(251, 249, 249);
      box-shadow: 0px 5px 12px 0px rgba(128, 128, 128, 0.452);
        border-radius: 50px;
        display: flex;
      
    }
    .selection-card{
        display: flex;
     

    }
    .fa{
        font-size: 1.3rem;
       display: flex;
       align-items: center;
    }
    .select-info{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        padding-top: 8px;
        /* text-align: center; */
    }
    .select-info input{
        outline: none;
        border: none;
        padding: 10px 0;
        background: transparent;
    }
    .fa:last-child{
        color: #EE685F;
    }
}